.body_bg {

  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation:isolate;
}

.body_bg::after{
    content: '' ;
    position: absolute;
    inset:0;
    background: blue;
    z-index: -1 ;
    opacity:0.85 ;
    background: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

h1 {
  color: white !important;
  text-align: center;
}